@model Login.Models.Album1.AlbumModel;

<div class="text-center">
    <h1 class="display-4">Welcome to @Model.Title</h1>
    <div>
        <a class="clickthing" asp-area="" asp-controller="Channel" asp-action="Main" asp-route-id=@Model.Channel.Title><h2>Back</h2></a>
        @if ((bool)ViewData["CanManage"]==true) 
        {
            <a class="clickthing" asp-area="" asp-controller="Album" asp-action="Manage" asp-route-id=@Model.AlbumId><h2>Manage Album</h2></a>
        }
        @if ((bool)ViewData["CanPost"]==true) 
        {
            <a class="clickthing" asp-area="" asp-controller="Thread" asp-action="Create" asp-route-id=@Model.AlbumId><h2>New Post</h2></a>
        }
    </div>
</div>
<div style="height:80px;"></div>   



    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">By</th>
                <th scope="col">Rating</th>
                <th scope="col">Created</th>
                <th scope="col">Description</th>
                <th scope="col">Picture</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var thread in Model.Threads)
            {
                //if there is no picture dont display
                @if (thread.Picture == null) continue;
                //loops through the db and displays it
                <tr>
                    <th>
                        <a asp-action="Index" asp-controller="Thread" asp-route-id="@thread.Id">
                            @thread.Title
                        </a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-controller="Profile" asp-route-username="@thread.AuthorUserName">
                            @thread.AuthorUserName
                        </a>
                    </th>
                    <th>@thread.Rating</th>
                    <td>@thread.Created</td>
                    <td>@thread.Description</td>
                    <td>
                        <img src="@thread.Picture" alt="Image" style="width: 200px; height:200px;" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
