@model Login.Models.AchievementModelList
@{
    ViewData["Title"] = "Achievements Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">User Progress</th>
                <th scope="col">Achieved</th>
                <th scope="col">When</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var achieve in Model.AchievementLists)
            {
                <tr>
                    <th>
                        <img src="@achieve.Picture" alt="AchievementOne" style="width: 200px; height:200px;" />
                    </th>
                    <th>
                        @achieve.Name
                    </th>
                    <td>
                        @achieve.Description
                    </td>
                    <td>
                        @achieve.Progress / @achieve.MaxProgress
                    </td>
                    <td>
                        @if (@achieve.Completed) 
                        { 
                            <div>Yes</div>
                        } 
                        else 
                        { 
                            <div>No</div> 
                        }
                    </td>
                    <td>
                        @if (@achieve.Completed)
                        {
                            <div>@achieve.CompletedTime</div>
                        }
                        else
                        {
                            <div>N/A</div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>