@model Login.Models.AchievementModelList
@{
    ViewData["Title"] = "Achievements Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
 

@foreach (var achieve in Model.AchievementLists){ 
  <div class="top-score-column">
    <div class="top-score-card">
      <h3>@achieve.Name</h3> 
      <img src="@achieve.Picture" alt="Image" class="card-image"  style="width: 200px; height:200px;" />
      <p>@achieve.Description</p>
      <p>@achieve.Progress / @achieve.ProgressLimit</p>
      <p> @if (@achieve.Completed) 
                        {  <div>Completed on: @achieve.CompletedTime</div>} 
                        else 
                        { <div>Keep trying!</div> }
      </p>
    </div>
    <br>
  </div>          
}

<!--
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">User Progress</th>
                <th scope="col">Achieved</th>
                <th scope="col">When</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var achieve in Model.AchievementLists)
            {
                <tr>
                    <th>
                        <img src="@achieve.Picture" alt="AchievementOne" style="width: 200px; height:200px;" />
                    </th>
                    <th>
                        @achieve.Name
                    </th>
                    <td>
                        @achieve.Description
                    </td>
                    <td>
                        @achieve.Progress / @achieve.ProgressLimit
                    </td>
                    <td>
                        @if (@achieve.Completed) 
                        { 
                            <div>Yes</div>
                        } 
                        else 
                        { 
                            <div>No</div> 
                        }
                    </td>
                    <td>
                        @if (@achieve.Completed)
                        {
                            <div>@achieve.CompletedTime</div>
                        }
                        else
                        {
                            <div>N/A</div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

-->