@using Microsoft.AspNetCore.Identity
@using Login.Areas.Identity.Data
@model Login.Models.Threadl.ThreadModel  
@inject UserManager<LoginUser> UserManager
@*this is the model that can be used within the View, check the path what can be passed in*@
<div class="header"></div>  
 
<div class="top-score-card-display">
    <div class="card-title"><h3>@Model.Title</h3></div>
<div class="row"> 
  <div id="DIV_3">   
      <img class="card-img-top" src="@Model.Picture" alt="Card image cap" style="width: 100%; height:100%">
  </div>

   <div id="DIV_0">  
   
    <div id="DIV_1"> 
        <div class="card-description"> <p class="card-text">@Model.Description </p> </div>
    </div>

    <div id="DIV_2">
        
      <h5></h5>Likes: <h5 class="card-titl" id="like">@Model.Rating</h5>
      <a asp-action="Index" asp-controller="Profile" asp-route-username="@Model.AuthorUserName">
        <h5 class="card-subtitle mb-2 text-muted">By: @Model.AuthorUserName</h5>
        <h5 class="card-subtitle mb-2 text-muted">Created On: @Model.Created</h5>
      </a>     
    </div>

    
   </div> 
 
</div>
    <br>
    <div class="card-footer"> 
        <small class="text-muted">
            <a asp-action="Report" asp-route-threadId="@Model.Id">Report</a>
            @if (User.Identity.Name == Model.AuthorUserName || User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-route-threadId="@Model.Id">Edit</a>
                <a asp-action="Delete" asp-route-threadId="@Model.Id">Delete</a>
            }
        </small>
    </div>

</div> 
    <!--
    <div class="card-title"><h3>@Model.Title</h3></div>
    
    <div class="card-img"> 
      <img class="card-img-top" src="@Model.Picture" alt="Card image cap" style="width: 50%; height:50%">

      <div class="card-img-right">
      <div class="card-description"> <p class="card-text">@Model.Description this is the description</p>
      <a asp-action="Index" asp-controller="Profile" asp-route-username="@Model.AuthorUserName">
        <h6 class="card-subtitle mb-2 text-muted">By: @Model.AuthorUserName</h6>
      </a>
      <h5></h5>Likes: <h5 class="card-titl" id="like">@Model.Rating</h5>
      <h5 class="card-subtitle mb-2 text-muted">Created On:@Model.Created</h5>
      </div>


    <div> <h4> hello</h4></div>  
      </div> 
      
      
    </div> 
    


    <div class="white-space"><h3>.</h3></div>
        
    <div class="card-rl"> 
        @* Checks if a user is signed in and not viewing it as a guest *@
        @if (User.Identity.Name != null)
        {
            <div id="likeSection">
                @if (Model.LikedBy.Count() == 0)
                {
                    <button type="button p-2" id="likeBtn" class="btn btn-primary">Like</button>
                }
                else
                {
                    <button type="button p-2" id="disLikeBtn" class="btn btn-primary">Unlike</button>
                    <button type="button" id="likeBtn" class="btn btn-primary">Like</button>
                }
            </div>
        }
    </div>



<div class="card" style="margin-top:2%">
    <div class="card-body"></div> 
    <div class="card-footer">
        <small class="text-muted">
            <a asp-action="Report" asp-route-threadId="@Model.Id">Report</a>
        </small>
    </div>
</div>
--> 



<!--
<div class="card" style="margin-top:2%">
    <div class="card-header">
        <h3>@Model.Title</h3>
    </div>
    <img class="card-img-top" src="@Model.Picture" alt="Card image cap" style="width: 20%; height:20%">
    <div class="card-body">
        <a asp-action="Index" asp-controller="Profile" asp-route-username="@Model.AuthorUserName">
            <h6 class="card-subtitle mb-2 text-muted">By: @Model.AuthorUserName</h6>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">Created On:@Model.Created</h6>
        <p class="card-text">@Model.Description</p>
        <h5>Likes: </h5><h5 class="card-title" id="like">@Model.Rating</h5>
        @* Checks if a user is signed in and not viewing it as a guest *@
        @if (User.Identity.Name != null)
        {
            <div id="likeSection">
                @if (Model.LikedBy.Count() == 0)
                {
                    <button type="button" id="likeBtn" class="btn btn-primary">Like</button>
                }
                else
                {
                    <button type="button" id="disLikeBtn" class="btn btn-primary">Unlike</button>
                    <button type="button" id="likeBtn" class="btn btn-primary">Like</button>
                }
            </div>
        }
            
    </div>
    <div class="card-footer">
        <small class="text-muted">
            <a asp-action="Report" asp-route-threadId="@Model.Id">Report</a>
            @if (User.Identity.Name == Model.AuthorUserName || User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-route-threadId="@Model.Id">Edit</a>
                <a asp-action="Delete" asp-route-threadId="@Model.Id">Delete</a>
            }
        </small>
    </div>
</div>
--> 
@section Scripts
{
    
    <script type="text/javascript">
        $(document).ready (function () {

            @*like btn here*@
            $('#likeBtn').click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Thread/RatingIncrement",
                    dataType: 'JSON',
                    data: JSON.stringify(@Model.Id), @*Passes the current Id of the thread*@
                    contentType: "application/json",
                    success: function (result) {    @*If the response from the contoler is correct then do the following*@
                        $('#like').html(result);
                        console.log(result);
                    },
                    error: function (err) {
                        console.log("Error: " + err);
                    }
                })
                @*document.getElementById("disLikeBtn").innerHTML = 'Unlike';
                console.log("there we go");*@
            });

            @*unlike btn here*@
            $('#disLikeBtn').click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Thread/RatingDecrease",
                    dataType: 'JSON',
                    data: JSON.stringify(@Model.Id), @*Passes the current Id of the thread*@
                    contentType: "application/json",
                    success: function (result) {    @*If the response from the contoler is correct then do the following*@
                        $('#like').html(result);
                        console.log(result);
                    },
                    error: function (err) {
                        console.log("Error: " + err);
                    }
                })
                @*document.getElementById("likeBtn").innerHTML = 'Like';
                console.log("there we go");*@
            });
        });

        @**@
        var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
        })
    </script>
}