@using Microsoft.AspNetCore.Identity
@using Login.Areas.Identity.Data
@model Login.Models.Threadl.ThreadModel
@inject UserManager<LoginUser> UserManager
@*this is the model that can be used within the View, check the path what can be passed in*@

<h1>Thread</h1>
<script type="text/javascript">
    $(document).ready(function () {
        @*
            When the Like button is pressed do the following Ajax call
        *@
        $('#likeBtn').click(function () {
            $.ajax({
                type: "POST",
                url: "/Thread/RatingIncrement",
                dataType: 'JSON',
                data: JSON.stringify(@Model.Id), @*Passes the current Id of the thread*@
                contentType: "application/json",
                success: function (result) {    @*If the response from the contoler is correct then do the following*@
                    $('#likeNumber').html(result);
                },
                error: function (err) {
                    console.log("Error: " + err);
                }
            })
        });
        @*need a unlike btn here*@
        $('#disLikeBtn').click(function () {
            $.ajax({
                type: "POST",
                url: "/Thread/RatingDecrease",
                dataType: 'JSON',
                data: JSON.stringify(@Model.Id), @*Passes the current Id of the thread*@
                contentType: "application/json",
                success: function (result) {    @*If the response from the contoler is correct then do the following*@
                    $('#likeNumber').html(result);
                },
                error: function (err) {
                    console.log("Error: " + err);
                }
            })
        });
    });
</script>
<div class="card-deck">
    <p>Title : @Model.Title</p>
    <p>Created : @Model.Created</p>
    <p>Description : @Model.Description</p>
    <img src="@Model.Picture" style="width: 20%; height:20%" />
    @*Checks if the user is the create of the thread if so show; Edit and Delete features*@
    @if (User.Identity.Name == Model.AuthorUserName)
    {
        <a asp-action="Edit" asp-route-threadId="@Model.Id">|Edit|</a>
        <a asp-action="Delete" asp-route-threadId="@Model.Id">|Delete|</a>
    }


    @if (Model.LikedBy.Count() == 0)
    {
        <label for="btn">Like</label>
        <input type="button" id="likeBtn" />
    }
    @foreach (var users in Model.LikedBy)
    {
        if (users.UserId == UserManager.GetUserId(User))
        {
            <label for="btn">Dislike</label>
            <input type="button" id="disLikeBtn" />

        }
        else
        {
            <label for="btn">Like</label>
            <input type="button" id="likeBtn" />
        }
    }




    Like Number: <div id="likeNumber">@Model.Rating</div>
</div>
