@using Microsoft.AspNetCore.Identity
@using Login.Areas.Identity.Data  
@model Login.Models.Threadl.ThreadModel   
@inject UserManager<LoginUser> UserManager
@*this is the model that can be used within the View, check the path what can be passed in*@
<div class="header"></div>  
     
<div class="top-score-card-display">   
    <div class="row">  
        <div id="DIV_3">    
            <img class="card-img-top" src="@Model.Picture" alt="Card image cap" style="with: 700px; heght:500px">
        </div>
        <div id="DIV_4"></div>
        <div id="DIV_0">  
            <div class="card-title"><h3>@Model.Title</h3></div>
            <!--
            @foreach (var tag in Model.Tags)
                {   <tr>
                        <th>#@tag.Name</th>
                        <th></th>
                    </tr>
                }
                -->
            <div id="DIV_1"> 
                @foreach (var tag in Model.Tags)
                {   <tr>
                        <th>#@tag.Name</th>
                        <th></th>
                    </tr>
                }
                <div class="card-description"> 
                    <p class="card-text">@Model.Description </p> 
                </div>
                <div class="likes pt-2">
                    Likes: <h5 class="card-titl mt-1" id="like">@Model.Rating</h5> 
                </div>
            </div>
            
            <div id="DIV_5">
                <div class="buttons"> 
                    @* Checks if a user is signed in and not viewing it as a guest *@
                    @if (User.Identity.Name != null)
                    {
                        <div id="likeSection">
                            @{
                                bool isLiked = false;
                                @foreach (var person in @Model.LikedBy){
                                    if (person.UserId == @UserManager.GetUserId(User)){
                                        isLiked = true;
                                        break;
                                    }
                                }
                                if (isLiked){
                                    <button type="button" id="likeBtn" class="createButton d-none" onclick="toggleLikeButton()">Like</button>
                                    <button type="button" id="disLikeBtn" class="createButton" onclick="toggleLikeButton()">Undo like</button>
                                }
                                else{
                                    <button type="button" id="disLikeBtn" class="createButton d-none" onclick="toggleLikeButton()">Undo like</button>
                                    <button type="button" id="likeBtn" class="createButton" onclick="toggleLikeButton()">Like</button>
                                }
                            }
                        </div>
                    }
                </div> 
            </div>
        
            <div id="DIV_2">
                <p></p>
                <a asp-action="Index" asp-controller="Profile" asp-route-username="@Model.AuthorUserName">
                    <h5 class="card-subtitle mb-2 text-muted">By: @Model.AuthorUserName</h5>
                    <h5 class="card-subtitle mb-2 text-muted">Created On: @Model.Created</h5>
                </a>
                @if (Model.Lng != null || Model.Lat != null)
                { 
                    <a asp-action="Index" asp-controller="Map" asp-route-threadId="@Model.Id">
                        <h6 class="card-subtitle mb-2 text-muted">Location</h6>
                    </a>
                }
            </div>
        </div>
    </div> 

    <br> 
    <div class="card-footer">  
        <small class="text-muted">
            <a asp-action="Report" asp-route-threadId="@Model.Id">Report </a>
            @if (User.Identity.Name == Model.AuthorUserName || User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-route-threadId="@Model.Id">Edit </a>
                <a asp-action="Delete" asp-route-threadId="@Model.Id">Delete</a>
            }
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="FullAPI" asp-controller="Vision" asp-route-id="@Model.Id"> | AI</a>
                <a asp-action="AI" asp-controller="Vision" asp-route-id="@Model.Id">AIHuman |</a>
            }
        </small>
    </div>

</div>

@section Scripts
{
    
    <script type="text/javascript">
        $(document).ready (function () {

            @*like btn here*@
            $('#likeBtn').click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Thread/RatingIncrement",
                    dataType: 'JSON',
                    data: JSON.stringify(@Model.Id), @*Passes the current Id of the thread*@
                    contentType: "application/json",
                    success: function (result) {    @*If the response from the contoler is correct then do the following*@
                        $('#like').html(result);
                        console.log(result);
                    },
                    error: function (err) {
                        console.log("Error: " + err);
                    }
                })
            });

            @*unlike btn here*@
            $('#disLikeBtn').click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Thread/RatingDecrease",
                    dataType: 'JSON',
                    data: JSON.stringify(@Model.Id), @*Passes the current Id of the thread*@
                    contentType: "application/json",
                    success: function (result) {    @*If the response from the contoler is correct then do the following*@
                        $('#like').html(result);
                        console.log(result);
                    },
                    error: function (err) {
                        console.log("Error: " + err);
                    }
                })
            });
        });
    </script>
}