@model Login.Models.Threadl.ThreadModel

<h1>Thread</h1>
<script type="text/javascript">
    $(document).ready(function () {
        $('#likeBtn').click(function () {
            $.ajax({
                type: "POST",
                url: "/Thread/RatingIncrement",
                dataType: 'JSON',
                data: JSON.stringify(@Model.Id),
                contentType: "application/json",
                success: function (result) {
                    $('#likeNumber').html(result);
                    console.log("sucess");
                    console.log(result);
                },
                error: function (err) {
                    console.log("Error: " + err);
                }
            })
        });
    });
</script>
<div class="card-deck">
    <p>Title : @Model.Title</p>
    <p>Created : @Model.Created</p>
    <p>Description : @Model.Description</p>
    <div id="userProfileImage" style="background-image: url(@Model.Picture)"></div>
    @if (User.Identity.Name == Model.AuthorUserName)
    {
        <a asp-action="Edit" asp-route-threadId="@Model.Id">|Edit|</a>
        <a asp-action="Delete" asp-route-threadId="@Model.Id">|Delete|</a>
    }

    <input type="button" id="likeBtn"  />
        
    Like Number: <div id="likeNumber">@Model.Rating</div>
</div>
